<img src="img/tutorial-grid-snakes-dark-header.svg" alt="tutorial-logo" style="width: 100%;"/>

# Working with spreadsheets with Pandas

In this section of the tutorial, we will learn how to work with data and spreadsheets using the [`pandas`](https://pandas.pydata.org/) library in Python.

> NB: If you are not running this in a dev container, make sure you check the readme for setup instructions!

Let's start by importing pandas:

In [5]:
import pandas as pd

## Reading our data into pandas

The tabular data you want to work with in pandas and then export to a spreadsheet can start in a variety of formats. Some common formats are:
- XSLX (Excel spreadsheets)
- ODF (Open Document Format)
- CSV (comma-separated values)
- JSON (JavaScript Object Notation)

In [6]:
# Lets start by creating a DataFrame from a csv file
acnh_fish_df = pd.read_csv('sample-data/acnh-game-data/fish.csv')
acnh_fish_df

,#,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up,NH Jan,NH Feb,...,SH Dec,Color 1,Color 2,Size,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,56,anchovy,200,Sea,Small,0,2–5,No,4 AM – 9 PM,4 AM – 9 PM,...,4 AM – 9 PM,Blue,Red,1x1,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201,LzuWkSQP55uEpRCP5
1,36,angelfish,3000,River,Small,20,2–5,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,1x1,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247,XTCFCk2SiuY5YXLZ7
2,44,arapaima,10000,River,XX-Large,50,1,Yes,NaN,NaN,...,4 PM – 9 AM,Black,Blue,3x2,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253,mZy4BES54bqwi97br
3,41,arowana,10000,River,Large,50,1–2,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,2x1,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250,F68AvCaqddBJL7ZSN
4,58,barred knifejaw,5000,Sea,Medium,20,3–5,No,NaN,NaN,...,All day,White,Black,1x1,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265,X3R9SFSAaDzBF4fE3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,23,tilapia,800,River,Medium,0,7–9,No,NaN,NaN,...,All day,Black,Black,1x1,Fluorescent,Fish76,FishThirapia,FtrFishThirapia,4190,as78rnkwY3ahrTkBY
76,66,tuna,7000,Pier,XX-Large,50,2,Yes,All day,All day,...,NaN,Blue,Black,2x1,Fluorescent,Fish57,FishMaguro,FtrFishMaguro,2274,4PnGXx9DSb866AeCM
77,75,whale shark,13000,Sea,Large w/Fin,50,1,Yes,NaN,NaN,...,All day,Black,Blue,3x2,No lighting,Fish72,FishJinbeezame,FtrFishJinbee,2282,r3RAtJsXENwnFvQh7
78,21,yellow perch,300,River,Medium,0,7–10,No,All day,All day,...,NaN,Yellow,Black,1x1,Fluorescent,Fish18,FishYellowparch,FtrFishYellowparch,2233,bLgE5dicZniF5zZDW
79,53,zebra turkeyfish,500,Sea,Medium,0,6–8,No,NaN,NaN,...,All day,Red,Black,1x1,Fluorescent,Fish44,FishMinokasago,FtrFishMinokasago,2261,h7fa7Fh3Ay7vAxgE2

We can also create a DataFrame by loading data from a xlsx file:

In [7]:
sports_df = pd.read_excel("sample-data/summer-sports.xlsx")
sports_df

,What's in this Dataset?,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Name,"Summer Sports Experience and ""Kids in Motion"" ...",NaN,NaN
1,URL,https://data.cityofnewyork.us/Recreation/Summe...,NaN,NaN
2,Description,The Kids in Motion (KIM) program provides free...,NaN,NaN
3,Rows,12.3K,NaN,NaN
4,Columns,7,NaN,NaN
5,Each row is a…,Each record represents weekly attendance at at...,NaN,NaN
6,NaN,NaN,NaN,NaN
7,Schema,NaN,NaN,NaN
8,Column Name,Description,API Field Name,Data Type
9,Borough,Borough in which Kids in Motion or Summer Spor...,borough,Text
10,ParkorPlayground,"Name of park, playground, or recreation center...",parkorplayground,Text
11,Date,Date class occurred,date,Floating Timestamp
12,SportsPlayed,Name of sport played for Summer Sports Experience,sportsplayed,Text
13,KIMorSSE,Is this class part of Kids in Motion or Summer...,kimorsse,Text
14,Attendance,Attendance for the week,attendance,Number

We need to have a bit more control over how we are reading the xlsx file, so let's look at the options we have for the `read_excel` function.

In [8]:
help(pd.read_excel) # or ?? pd.read_excel in jupyter cell magic syntax

Help on function read_excel in module pandas.io.excel._base:

read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None
) -> 'DataFrame | dict[IntStrT, DataFrame]'
    Read an Excel file into a ``pandas`` ``DataFrame``.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.

        .. deprecated:: 2.1.0
            Passing byte strings is deprecated. To read from a
            byte string, wrap it in a ``BytesIO`` object.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions (chart sheets do not count as a sheet position).
        Lists of strings/integers are used to request multiple sheets.
        Specify ``None`` to get all worksheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * ``None``: All worksheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, str, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.

        Missing values will be forward filled to allow roundtripping with
        ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
        missing values use ``set_index`` after reading the data instead of
        ``index_col``.
    usecols : str, list-like, or callable, default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed
          (0-indexed).
        * If list of string, then indicates list of column names to be parsed.
        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use ``object`` to preserve data as stored in Excel and not interpret dtype,
        which will necessarily result in ``object`` dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
        If you use ``None``, it will infer the dtype of each column based on the data.
    engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
        If io is not a buffer or path, this must be set to identify io.
        Engine compatibility :

        - ``openpyxl`` supports newer Excel file formats.
        - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
          and OpenDocument (.ods) file formats.
        - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
        - ``pyxlsb`` supports Binary Excel files.
        - ``xlrd`` supports old-style Excel files (.xls).

        When ``engine=None``, the following logic will be used to determine the engine:

        - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
          then `odf <https://pypi.org/project/odfpy/>`_ will be used.
        - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
        - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
        - Otherwise ``openpyxl`` will be used.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is True, and ``na_values`` are specified,
          ``na_values`` is appended to the default NaN values used for parsing.
        * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
          the default NaN values are used for parsing.
        * If ``keep_default_na`` is False, and ``na_values`` are specified, only
          the NaN values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * ``bool``. If True -> try parsing the index.
        * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparsable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    decimal : str, default '.'
        Character to recognize as decimal point for parsing string columns to numeric.
        Note that this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.(e.g. use ',' for European data).

        .. versionadded:: 1.4.0

    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

    dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
        Back-end data type applied to the resultant :class:`DataFrame`
        (still experimental). Behaviour is as follows:

        * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
          (default).
        * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
          DataFrame.

        .. versionadded:: 2.0

    engine_kwargs : dict, optional
        Arbitrary keyword arguments passed to excel engine.

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Notes
    -----
    For specific information on the methods used for each Excel engine, refer to the pandas
    :ref:`user guide <io.excel_reader>`

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the
    ``comment`` kwarg.

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

The most likely ones we will need are:

**General**
- `sheet_name`: the name of the sheet we want to read from the xlsx file
    - pandas will read the first sheet by default
- `engine`: the engine to use to read the xlsx file, for the most part pandas will guess the right one!
    - `openpyxl` supports newer Excel file formats
    - `calamine` supports Excel (.xls, .xlsx, .xlsm, .xlsb) and OpenDocument (.ods) file formats
    - `odf` supports OpenDocument file formats (.odf, .ods, .odt)
    - `pyxlsb` supports Binary Excel files
    - `xlrd` supports old-style Excel files (.xls)

> N.B. If you need a specific engine you may need to install it as they are optional dependancies.

In [12]:
# Choosing more than one sheet returns a dictionary of DataFrames
sports_data = pd.read_excel("sample-data/summer-sports.xlsx",
                            sheet_name=["README", "data"]
                            )
sports_data["data"]

,Borough,ParkorPlayground,Date,SportsPlayed,KIMorSSE,Attendance,Cancellation
0,Brooklyn,Hamilton Metz Field,2024-05-14 10:00:00,NaN,K.I.M,71.0,NaN
1,Manhattan,Carmansville Playground,2023-10-13 18:00:00,NaN,K.I.M,0.0,Called Out
2,Queens,Bowne Playground,2024-07-06 18:00:00,NaN,K.I.M,119.0,NaN
3,Queens,Phil Scooter Rizzuto Park,2023-07-13 18:00:00,NaN,K.I.M,109.0,NaN
4,Queens,Grover Cleveland Playground,2024-05-24 18:00:00,NaN,K.I.M,0.0,Detailed to Event
...,...,...,...,...,...,...,...
12250,Brooklyn,Seth Low Playground/ Bealin Square,2024-05-04 10:00:00,NaN,K.I.M,90.0,NaN
12251,Queens,Yellowstone Park,2022-09-16 12:26:00,NaN,K.I.M,0.0,Called Out
12252,Queens,Astoria Park,2022-07-02 18:00:00,NaN,K.I.M,0.0,Detailed to Event
12253,Queens,Queensbridge Park,2023-08-23 18:00:00,NaN,K.I.M,0.0,NaN
12254,Brooklyn,Herbert Von King Park,2023-09-20 10:00:00,NaN,K.I.M,22.0,NaN

We can test the `engine` option by reading an ods formatted file of the same data.

In [24]:
sports_info = pd.read_excel("sample-data/summer-sports.ods",
                            sheet_name=["README", "data"],
                            engine="odf"
                            )
sports_info["data"]

,Borough,ParkorPlayground,Date,SportsPlayed,KIMorSSE,Attendance,Cancellation
0,Brooklyn,Hamilton Metz Field,2024-05-14 10:00:00,NaN,K.I.M,71.0,NaN
1,Manhattan,Carmansville Playground,2023-10-13 18:00:00,NaN,K.I.M,0.0,Called Out
2,Queens,Bowne Playground,2024-07-06 18:00:00,NaN,K.I.M,119.0,NaN
3,Queens,Phil Scooter Rizzuto Park,2023-07-13 18:00:00,NaN,K.I.M,109.0,NaN
4,Queens,Grover Cleveland Playground,2024-05-24 18:00:00,NaN,K.I.M,0.0,Detailed to Event
...,...,...,...,...,...,...,...
12250,Brooklyn,Seth Low Playground/ Bealin Square,2024-05-04 10:00:00,NaN,K.I.M,90.0,NaN
12251,Queens,Yellowstone Park,2022-09-16 12:26:00,NaN,K.I.M,0.0,Called Out
12252,Queens,Astoria Park,2022-07-02 18:00:00,NaN,K.I.M,0.0,Detailed to Event
12253,Queens,Queensbridge Park,2023-08-23 18:00:00,NaN,K.I.M,0.0,NaN
12254,Brooklyn,Herbert Von King Park,2023-09-20 10:00:00,NaN,K.I.M,22.0,NaN

In [26]:
# Our readme sheet is now a DataFrame too, but we can add it as
# metadata to the data DataFrame

sports_data = sports_info["data"]
sports_data.attrs = {"metadata" : sports_info["README"]}

**Rows**
- `header`: the row number to use as the column names
    - uses the first row by default
- `skiprows`: the number of rows to skip at the beginning of the file
    - will not skip any rows by default
- `nrows`: the number of rows to read from the file
    - reads all rows by default

**Columns**
- `index_col`: the column number to use as the index
    - uses a default integer index
- `usecols`: the columns to read from the xlsx file
    - reads all columns by default
- `dtype`: the data type to use for the columns
    - tries to infer the data type from the data

In [ ]:
# The fish alreay have an index column, and let's set the data 
# type of the color columns to category

acnh_fish_df = pd.read_csv('sample-data/acnh-game-data/fish.csv', 
                           index_col=0, 
                           dtype={"Color 1":'category', 
                                  "Color 2":'category'}
                           )
acnh_fish_df

,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up,NH Jan,NH Feb,NH Mar,...,SH Dec,Color 1,Color 2,Size,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
#,,,,,,,,,,,,,,,,,,,,,
56,anchovy,200,Sea,Small,0,2–5,No,4 AM – 9 PM,4 AM – 9 PM,4 AM – 9 PM,...,4 AM – 9 PM,Blue,Red,1x1,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201,LzuWkSQP55uEpRCP5
36,angelfish,3000,River,Small,20,2–5,No,NaN,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,1x1,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247,XTCFCk2SiuY5YXLZ7
44,arapaima,10000,River,XX-Large,50,1,Yes,NaN,NaN,NaN,...,4 PM – 9 AM,Black,Blue,3x2,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253,mZy4BES54bqwi97br
41,arowana,10000,River,Large,50,1–2,No,NaN,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,2x1,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250,F68AvCaqddBJL7ZSN
58,barred knifejaw,5000,Sea,Medium,20,3–5,No,NaN,NaN,All day,...,All day,White,Black,1x1,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265,X3R9SFSAaDzBF4fE3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,tilapia,800,River,Medium,0,7–9,No,NaN,NaN,NaN,...,All day,Black,Black,1x1,Fluorescent,Fish76,FishThirapia,FtrFishThirapia,4190,as78rnkwY3ahrTkBY
66,tuna,7000,Pier,XX-Large,50,2,Yes,All day,All day,All day,...,NaN,Blue,Black,2x1,Fluorescent,Fish57,FishMaguro,FtrFishMaguro,2274,4PnGXx9DSb866AeCM
75,whale shark,13000,Sea,Large w/Fin,50,1,Yes,NaN,NaN,NaN,...,All day,Black,Blue,3x2,No lighting,Fish72,FishJinbeezame,FtrFishJinbee,2282,r3RAtJsXENwnFvQh7
21,yellow perch,300,River,Medium,0,7–10,No,All day,All day,All day,...,NaN,Yellow,Black,1x1,Fluorescent,Fish18,FishYellowparch,FtrFishYellowparch,2233,bLgE5dicZniF5zZDW
53,zebra turkeyfish,500,Sea,Medium,0,6–8,No,NaN,NaN,NaN,...,All day,Red,Black,1x1,Fluorescent,Fish44,FishMinokasago,FtrFishMinokasago,2261,h7fa7Fh3Ay7vAxgE2

**Data**
- `parse_dates`: whether to parse dates. 
    - If not specified, pandas will not parse dates by default.
- `na_values`: the values to consider as missing values. 
    - If not specified, pandas will use a default set of missing values.
- `converters`: the functions to use to convert the data in the columns. 
    - If not specified, pandas will use a default set of converters.
- `thousands`: the thousands separator to use. 
    - If not specified, pandas will use a default thousands separator.
- `decimal`: the decimal separator to use. 
    - If not specified, pandas will use a default decimal separator.

Let's use the `converters` option to make the time of day values in the month columns more useable.

In [11]:
from enum import Enum

class TimeOfDay(Enum):
   am = 1
   pm = 2
   all_day = 3

def time_of_day(time_period:str) -> TimeOfDay:
      if time_period == "All day":
         return TimeOfDay.all_day
      elif time_period == "4 AM – 9 PM":
         return TimeOfDay.am
      elif time_period == "9 AM – 4 PM":
         return TimeOfDay.pm
      else:
         return None

acnh_fish_df = pd.read_csv('sample-data/acnh-game-data/fish.csv', 
                           index_col=0, 
                           dtype={"Color 1":'category', 
                                  "Color 2":'category'},
                           
                           converters={"NH Jan": time_of_day}
                        )
acnh_fish_df["NH Jan"]

#
56         TimeOfDay.am
36                 None
44                 None
41                 None
58                 None
            ...
23                 None
66    TimeOfDay.all_day
75                 None
21    TimeOfDay.all_day
53                 None
Name: NH Jan, Length: 80, dtype: object

We can continue doing all the good data cleaning we all love like:

- missing values
- duplicates
- data types
- renaming columns
- aggregating data

... but we are here to learn about spreadsheets so let's move on to how to export our pandas data to a spreadsheet!

---

## How to export your DataFrame to a spreadsheet

- If you have only one DataFrame, you can use `to_excel` with a path to the file you want to save to.

- If you want to combine multiple DataFrames into one spreadsheet, you can use `ExcelWriter` to create a new Excel file and then use `to_excel` with a reference to the `ExcelWriter` object to write each DataFrame to the same file, usually as seperate sheets.

In [ ]:
acnh_fish_df.to_excel("sample-data/acnh-game-data/acnh-fish.xlsx")

In [ ]:
# TODO: combine all the acnh game data into one excel file
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')

All the options we may want to consider for the export: